@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
	font-family: 'Roboto', sans-serif;
}
.section-modules {
	display: flex;
	align-content: center;
	padding: 5rem;
	margin: 5rem;
	border: solid rgb(172, 170, 170) 2px;
	border-radius: 6px;
	cursor: pointer;
}

.section-big-modules {
	display: flex;
	align-content: center;
	padding: 10rem;
	margin: 5rem;
	border: solid rgb(172, 170, 170) 2px;
	border-radius: 6px;
	cursor: pointer;
}

.btn-update {
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
}
.btn-delete {
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
}
.btn-onadd {
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
	margin-left: 15rem;
	margin-top: 10rem;
}
.input-addmodule {
	margin-left: 5rem;
	border: black solid;
}

.btn-toggle {
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
	margin-left: 88rem;
	margin-top: 10rem;
}

.hide {
	display: none;
}

.fa-trash-alt {
	margin-left: 2rem;
	margin-right: 3rem;
}

.fa-edit {
	margin-left: 76rem;
	margin-bottom: 1rem;
}

.fa-plus-circle {
	margin-left: 98rem;
	margin-top: 10rem;
	margin-bottom: 2rem;
	cursor: pointer;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 2px;
}

.newletter {
	font-family: 'Roboto', sans-serif;
}

.modal1 {
	background: rgb(211, 208, 208);
	border-radius: 6px;
	padding: 2rem;
}

.modal2 {
	background: rgb(211, 208, 208);
	padding: 2rem;
	border-radius: 6px;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}
